
@model NP_WebApp.Models.NationalPark
@{
    ViewData["Title"] = "Upsert";
    var title = Model.Id != 0 ? "Edit National Park" : "New National Park";
    var saveUpdate = Model.Id != 0 ? "Update" : "Save";
}
<form method="post" enctype="multipart/form-data">
    @if (Model.Id != 0)
    {
        <input type="hidden" value="@Model.Id"/>
    }
   <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>
   <div class="row border p-2 m-2">
       <div class="border-bottom col-10">
           <h2 class="text-primary">@title</h2>
       </div>
       <div class="col-8">
           <div class="form-group row p-2 m-2">

               <div class="col-4">

                   <label asp-for="Name"></label>
               </div>
               <div class="col-8">
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
               </div>
              
           </div>
          
            <div class="form-group row p-2 m-2">

                <div class="col-4">

                    <label asp-for="State"></label>
                </div>
                <div class="col-8">
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>

            </div>
              <div class="form-group row p-2 m-2">

                  <div class="col-4">

                      <label asp-for="Picture"></label>
                 </div>
                <div class="col-8">
                    <input type="file" name="files" id="npImage"  multiple class="form-control" />
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row p-2 m-2">
                @{
                    var dateEst = "";
                    if (Model.Id != 0)
                    {
                        dateEst = Model.Established.ToShortDateString();
                    }
                }
                <div class="col-4">

                    <label asp-for="Established"></label>
                </div>
                <div class="col-8">
                    <input type="text" id="datepickers" value="@dateEst" asp-for="Established" class="form-control" />
                    <span asp-validation-for="Established" class="text-danger"></span>
                </div>

            </div>
       </div>
        <div class="col-4">
            @{
                if (Model.Picture != null)
                {
                    var base64 = Convert.ToBase64String(Model.Picture);
                    var imgSrc = String.Format("data:image/jpg;base64,{0}",base64);
                    <img src="@imgSrc" width="100%"/>
                }
            }
        </div>
        <div class="form-group row p-2 m-2">

            <div class="col-4">

                <button type="submit" class=" text-white btn btn-info form-control">
                    @saveUpdate
                </button>
            </div>
            <div class="col-4">
                <a asp-action="Index" class="btn btn-success form-control">
                    Back to list
                </a>
            </div>

        </div>
        
   </div>
    
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
<script>
    $(function(){
        $('#datepickers').datepicker({
            changeMonth:true,
            changeYear:true
        })
    })
</script>
}